.signup{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/031/624/350/small_2x/background-for-productgraphy-ai-generated-photo.jpg");
    background-size: cover;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
 background-color:antiquewhite ;
 padding: 30px;
 border: 1px solid #ccc;
 border-radius: 1px;
}
.signup-logo{
    width: 200px;
    object-fit: contain;
    padding: 10px 0px;
}

.loginPara{
    color:darkred ;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}
input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form > div{
    width: 343px;
    margin: auto;
}
#submit-btn{
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top: 8px;
}
.form2{
background-color: antiquewhite;
padding: 30px;
margin-top: 5px;
border: #4CAF50;
border-radius: 1px;
}